.edit-wrapper {
 margin: 0 auto;
 padding: 40px 48px;
}

.breadcrumb {
 font-size: 14px;
 color: #6b6b6b;
 display: flex;
 gap: 6px;
 align-items: center;
 margin-bottom: 12px;
}
.breadcrumb-link {
 font-size: 14px;
 color: #6b6b6b;
 text-decoration: none;
}

.current {
 color: var(--primary-color);
 font-weight: 600;
}
.edit-card {
 max-width: 700px;
}

.adminTitle {
 font-size: 20px;
 font-weight: 600;
 text-align: center;
 margin: 8px 0 18px;
}

.avatar-wrapper {
 display: flex;
 justify-content: center;
 margin-bottom: 20px;
}

.avatar-circle {
 width: 95px;
 height: 95px;
 font-size: 26px;
 cursor: pointer;
}

#adminEditForm {
 display: flex;
 flex-direction: column;
 width: 100%;
 gap: 2rem;
 max-width: 450px;
 margin: 0 auto;
}

.formGroups > label {
 display: flex;
 flex-direction: column;
 font-family: var(--secondary-font);
 font-size: var(--paragraph);
 font-weight: 700;
 line-height: 1.5;
 letter-spacing: 0.5px;
 color: var(--color-neutral-dark-gray);
}

#adminSchool,
#adminPosition {
 background-color: #e0e0e0;
 color: var(--color-neutral-medium-gray);
 box-shadow: none;
 cursor: not-allowed;
 border: 1px solid #cccccc;
}


.admin-div {
 margin: 0 auto;
}

.admin-div > button {
 width: fit-content;
}

@media (min-width: 767px) {
 .edit-wrapper {
  padding-top: 40px;
 }

 .breadcrumb {
  margin-bottom: 36px;
 }

 .edit-card {
  background: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 40px 50px;
  max-width: 520px;
  margin: 0 auto;
 }

 .avatar-circle {
  width: 95px;
  height: 95px;
  font-size: 26px;
 }

 #adminSchool {
  background-color: #e0e0e0;
  color: var(--color-neutral-medium-gray);
  box-shadow: none;
  cursor: not-allowed;
  border: 1px solid #cccccc;
 }

 #adminEditForm {
  max-width: 400px;
 }

 .form {
  gap: 20px;
 }

 .positionHidden {
  display: none;
 }
}
