html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* header */
header {
	margin-bottom: 25px;
	border: var(--color-neutral-medium-gray);
	border-style: inset;
	border-width: 0.5px;
	height: 70px;
	
	position: sticky;
	top: 0;
	z-index: 9; 
	background: var(--color-neutral-gray);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerLogo {
	width: 80px;
	height: 80px;
}

.hamburgerMenu {
	padding-right: 24px;
}

header ul {
	display: none;
}
/* /header */


/* footer */

footer {
	display: flex;
	flex-direction: row;
	height: 100%;
}

footer img {
	height: 250px;
	min-width: 350px;
}

@media (max-width: 424px) {
	footer img {
		width: 100%;
		min-width: 1px;
	}
}


@media (min-width: 768px) {

	/* header */ 
	 header {
		 height: 125px;
	 }
 
	 .headerLogo {
		 width: 120px;
		 height: 120px;
	 }
 
	 .UserLogo {
		 width: 50px;
		 height: 50px;
	 }
 
	 header ul {
		 display: flex;
		 align-items: center;
		 justify-content: space-between;
		 list-style: none;
		 padding-right: 12px;
	 }
	 
	 li a {
		 text-decoration: none;
		 color: black;
		 padding: 10px 32px;
		 font-size: 20px;
		 font-weight: 600;
		 display: block;
		 position: relative;
		 overflow: hidden;
	 }
 
	 li a::after {
		 content: '';
		 position: absolute;
		 width: 0;
		 height: 3px;
		 bottom: 0;
		 left: 0;
		 background-color: var(--primary-color);
		 transition: width 0.3s ease;
	 }
 
	 li a:hover::after {
		 width: 100%;
		 align-items: center;
	 }
 
	 li a.removeHover::after {
		 display: none;
	 }
 
	 .active {
		 padding-bottom: 10px;
		 border-bottom: var(--primary-color);
		 }
 
	 li a.active::after {
		 width: 100%;
	 }
 
 
	 .hamburgerMenu {
		 display: none;
	 }
 
	 .firstHeader {
		margin-right: 48px;
	 }
	 /* /header */
 }
 
 @media (min-width: 1024px) {
	
	 /* Header */ 
	 header {
		 height: 176px;
	 }
 
	 .headerLogo {
		 width: 160px;
		 height: 160px;
	 }
 
	 .UserLogo {
		 width: 64px;
		 height: 64px;
	 }
 
	 li a {
		 padding: 10px 60px;
	 }
	 /* /header */
 
 }