html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
}

.btn {
  background-color: var(--primary-color);
  color: #ffffff;
  border: 3px solid var(--primary-color);
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.btn--secondary {
  background-color: transparent;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}

/* Header */

header {
  margin-bottom: 25px;
  border: var(--color-neutral-medium-gray);
  border-style: inset;
  border-width: 0.5px;

  position: sticky;
  top: 0;
  z-index: 9;
  background: var(--color-neutral-gray);
}

.UserLogo {
  width: 64px;
  height: 64px;

  img {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }
}

/* /header */

/* Landing page */
.hero-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

.hero-content-wrapper {
  top: 2.5rem;
}

.hero-content-wrapper,
.hero-btn-wrapper {
  position: absolute;
  text-align: center;
}

.hero-btn-wrapper {
  margin: 10px 10px;
}

.hero-img-wrapper {
  width: 100%;
  height: auto;
}

.hero-img-wrapper img {
  width: 100%;
  height: auto;
}

.hero-btn-wrapper {
  position: absolute;
  bottom: 2.5rem;
}

.hero-btn-wrapper button {
  margin: 8px 8px;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

footer img {
  height: 250px;
  min-width: 350px;
}

@media (max-width: 424px) {
  footer img {
    width: 100%;
    min-width: 1px;
  }
}
