.login-page {
    background: var(--color-neutral-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-16px);
    gap: var(--padding-16px);
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-24px) var(--padding-48px);
    border: none;
    gap: 10px;
}
.login-form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.login-label {
    font-weight: 700;
}
.login-input {
    height: 24px;
    max-width: 361px;
    border: solid 1px #cccccc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)  inset;
    border-radius: 6px;
    padding: 8px;
}
.login-input-error {
    border-color: var(--accent-color);
}
.login-text-error {
    color: var(--accent-color);
    font-weight: 400;
}
.login-p {
    font-size: var(--small-txt);
    font-weight: 400;
    text-align: left;
}
.login-a {
    color: var(--color-neutral-dark-gray);
    text-decoration: none;
    font-weight: 700;
}
.login-div {
 margin: 0 auto;
}

.login-div > button {
 width: fit-content;
}


@media (min-width: 768px) {
    .login-form {
        border: solid 3px #cccccc;
    }
    .login-p {
        font-size: var(--paragraph);
    }
}


@media (min-width: 1024px) {
    .login-page {
        padding: var(--padding-48px);
    }
    .login-form {
        padding: var(--padding-24px) var(--padding-48px);
        gap: var(--padding-24px);
        max-height: 498px;
        max-width: 474px;
        border: solid 3px #cccccc;
    }
    .login-form-input {
        margin-bottom: 0%;
    }
    .login-input {
        width: 100%;
    }
}