.profile-page{
    padding: 70px 16px 0;
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
}

.profile-breadcrumb{
    display: flex;
    gap: 16px;
    font: var(--paragraph);
    padding: 16px;
    width: fit-content;
    height: fit-content;
}

.profile-breadcrumb-active{
    color: var(--primary-color);
}

.profile__card{
    background-color: var(--color-neutral-gray);
    border: 1px solid var(--color-neutral-medium-gray) ;
    padding: 0 32px 32px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;

}

.profile-title{
    text-align: center;
    margin-bottom: 1rem;
    font: var(--heading-1);
    font-size: 1.4rem;
    font-weight: 700;
}


.profile__details{
    margin-bottom: 1rem;
}

.profile__row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
    overflow: hidden;
}

.profile__row p {
    font-size: 14px;
}

.profile-label{
    font-weight: 700;
    flex: 0 0 110px;
}

.profile-value{
    flex: 1 1 auto;
    text-align: left;
    font-weight: 500;
    min-width: 0;
}

.profile-edit-button{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 6px;
    font-family: var(--primary-font);
    font-size: 1rem;
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: 600;
    gap: 10px;
    max-width: 195px;
    min-height:44px;
    width: 100%;
}

.profile-edit-button:active, 
.profile-edit-button:focus-visible, 
.profile-edit-button:hover{
    background-color: #BBdefb;
}

/*media queries*/
@media (min-width: 767px) {
    .profile-page{
        min-height: 771px ;
    }

    .profile-breadcrumb{
        gap: 24px;
        width: fit-content;
        padding: 16px 0;  
    }
    .profile__row{
        gap: 24px;
    }   
}