.profile-field {
  display: flex;
  font-size: var(--small-txt);
  margin-bottom: var(--padding-16px);
}

.profile-label {
  min-width: 140px;
  font-weight: 700;
}

.profile-value {
  flex: 1;
}

.profile-card {
  display: flex;
  justify-content: center;
  padding: var(--padding-16px);
}

.profile-card__wrapper {
  max-width: 612px;
  width: 100%;
  padding: var(--padding-32px);
  border: 3px solid #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar,
.profile-title,
.avatar-mobile,
.avatar-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-mobile {
  display: block;
  padding-bottom: var(--padding-32px);
}

.avatar-desktop {
  display: none;
}

.edit-profile-btn {
  height: 44px;
  min-width: 195px;
  margin-top: var(--padding-16px);
  font-weight: 600;
  font-size: var(--paragraph);
}

@media (min-width: 768px) {
  .avatar-mobile {
    display: none;
  }
  .avatar-desktop {
    display: block;
  }
}
