/* layout containers */
.profile-card {
  display: flex;
  justify-content: center;
  padding: var(--padding-16px);
}

.profile-card__wrapper {
  max-width: 612px;
  width: 100%;
  padding: var(--padding-32px);
  border: 3px solid #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--padding-48px) 0;
}

/* profile fields */
.profile-field {
  display: flex;
  font-size: var(--small-txt);
  margin-bottom: var(--padding-16px);
}

.profile-label {
  min-width: 140px;
  font-weight: 700;
}

.profile-value {
  flex: 1;
}

/* avatar and title */
.profile-title {
  font-size: var(--heading-3);
  font-weight: 600;
}

.profile-avatar,
.profile-title,
.avatar-mobile,
.avatar-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  padding-bottom: var(--padding-32px);
}

/* avatar images */
.avatar-mobile {
  display: block;
}

.avatar-desktop {
  display: none;
}

/* edit button overrides */
.edit-profile-btn {
  height: 44px;
  min-width: 195px;
  margin-top: var(--padding-16px);
  font-weight: 600;
  font-size: var(--paragraph);
}

/* responsive */
@media (min-width: 768px) {
  /* layout containers */
  .avatar-mobile {
    display: none;
  }
  .avatar-desktop {
    display: block;
  }

  /* avatar and title */
  .profile-title {
    font-size: var(--heading-1);
    font-weight: 700;
  }

  /* profile fields */
  .profile-field {
    font-size: var(--padding-16px);
  }

  .profile-label {
    min-width: 180px;
  }

  /* edit button overrides */
  .edit-profile-btn {
    height: 59px;
    min-width: 190px;
    font-size: 26px;
    margin: var(--padding-48px) 0;
  }
}
